/*This is for the first website on the Odin Project*/

body {
    Margin:0px;
}
h1 {
    margin:0px;
}
p {
    margin:0px;
}
button {
    margin:20px;
}
#Block1 {
    background-color:#1F2937;
    width:auto;
}
#Navbar {
    display:flex;
    justify-content:space-around;
    align-items:center;
}
#Headerlogo {
    width:45%;
    font: 24px helvetica;
    color: #F9FAF8;

}
#Headerlinks{
    width:45%;
    font: 18px helvetica;
    color:#E5E7EB;
    display:flex;
    gap:15px;
    justify-content:flex-end;
}
#Maincontent{
    display:flex;
    justify-content:space-around;
    flex-flow:row;
}
#Main1{
    display:flex;
    width:45%;
    flex-flow:column;
    justify-content:flex-start;
    align-items:flex-start;
    gap:5px
}
#Maintext{
    font: 40px helvetica;
    font-weight:bolder;
    color:#F9FAF8;
    width:auto;
    padding:0px;
}
#Mainsub{
    font: 18px helvetica;
    color:#E5E7EB;
}
.signupbutton {
    color:#E5E7EB;
    font:25px helvetica;
    font-weight:bold;
    background-color:#3882F6;
    padding:10px 30px 10px 30px;
    border-radius:10px;
    margin: 4px 0px 4px 0px;
}
#Main2{
    width: 45%;
    justify-content:center;
    align-items:center;
    font:15px helvetica;
    color:#E5E7EB;
    background-color:slategray;
    display:flex;
}
#Block2{
    text-align:center;
    display:inline block;
}
#Block2text{
    font:36px helvetica;
    font-weight:bolder;
    color:#1F2937;
}
#fourblockscontainer{
    display:flex;
    flex-flow:column;
    align-items:center;
}
#fourblocks{
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-around;
    gap:25px;
}

.smallblocks{
    height:300px;
    width:158px;
    display:flex;
    flex-flow:column;
    justify-content:flex-start;
    flex-shrink:1;
}
.smallblocksempty{
    color:white;
    background-color:white;
    height:150px;
    width:150px;
    border:4px solid #3882F6;
    border-radius:20px;
}
.smallblockssubtext{
    justify-content:center;
    font: 17px helvetica;
    color:grey;
}
#Block3{
    background-color:#E5E7EB;
    display:block;
    align-items:center;
}
#Block3container{
    display:block;
    text-align:center;
    height:auto;
    margin:0% 25% 0%;
}
#quote{
    display:block;
    flex-flow:column wrap;
    color:#1F2937;
    font: 36px helvetica;
    font-weight:lighter;
    font-style:italic;
    width:707px;
}
#quoteauthor{
    display:flex;
    justify-content:flex-end;
    font:20px helvetica;
    font-weight:bolder;
    color:#1F2937;
}